
<my-header></my-header>
<md-sidenav-layout class="demo-root" >
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['list']">My application</a>
    </md-nav-list>
    <button md-button (click)="start.close()">Subsection 1</button>
    <button md-button (click)="start.close()">Subsection 2</button>
    <button md-button (click)="start.close()">Subsection 3</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div class="demo-toolbar">
        <h1>AngularJS 2 application</h1>
      
      </div>
    </md-toolbar>

    <div #root="$implicit" dir="ltr" class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>
